{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div
      class="mb-3"
      style="
        font-size: 15px;
        text-align: left;
    
        margin-top: 30px;
      "
    >
      <a  class="btn btn-outline-dark" href="{% url 'cart-summary' %}">&#x2190; Trở về giỏ hàng</a>
      
      <h1 style="font-size: 20px"><br>THÔNG TIN ĐẶT HÀNG</h1>
      </div>
      <form action="{% url 'add_new_customer' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Họ tên</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Nhập họ và tên"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Số điện thoại</label
          >
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Nhập số điện thoại"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Địa chỉ</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            placeholder="Nhập số địa chỉ"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Thành phố</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            placeholder="Nhập thành phố"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tỉnh</label>
          <input
            type="text"
            class="form-control"
            id="state"
            name="state"
            placeholder="Nhập tỉnh"
          />
        
        </div>
    
        <div class="mb-3" style="text-align: left">
          <button type="submit" class="btn btn-primary">Đặt hàng</button>
          <!-- <button type="button" class="btn btn-warning">Làm lại</button> -->
        </div>
      </form>
    </div>
    
    <div class="col-lg-6">
      <div class="box-element">
        <br>
        <h3>Tổng cộng giỏ hàng</h3>
        <hr>
        {% for item in cart %}
        <div class="cart-row">
          <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
          <div style="flex:2"><p>{{item.product.name}}</p></div>
          <div style="flex:1"><p>VND {{item.product.price|floatformat:3}}</p></div>
          <div style="flex:1"><p>x{{item.qty}}</p></div>
        </div>
        {% endfor %}
        <h5>Items:   </h5>
        <h5>Total:   VND {{cart.get_total|floatformat:3}}</h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}