{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div
      class="mb-3"
      style="
        font-size: 15px;
        text-align: left;
    
        margin-top: 30px;
      "
    >
      
      <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
      fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
      <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        
        </svg>
      <h1 style="font-size: 20px"><br>CÁM ƠN BẠN ĐÃ ĐẶT HÀNG</h1>
      <br>
      <h2 style="font-size: 16px">Chúng tôi sẽ gọi cho bạn xác nhận đơn hàng, chúc bạn một ngày vui vẻ</h2>
      <h2 style="font-size: 16px">Mời bạn ghé thăm thêm Cửa hàng của chúng tôi:</h2>
      <a href="https://www.facebook.com/lago.bathhome" target="_blank"><img src="{% static 'image/facebook.png' %}" alt="" style="width: 20%;"></a>
      <a href="https://www.instagram.com/lago.bathhome/" target="_blank"><img src="{% static 'image/instagram.png' %}" alt="" style="width: 20%;"></a>
    
    </div>
      
    </div>
    
    <div class="col-lg-6">
      <div class="box-element">
        <br>
        <h3>Order Summary</h3>
        <hr>
        {% for item in cart %}
        <div class="cart-row">
          <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
          <div style="flex:2"><p>{{item.product.name}}</p></div>
          <div style="flex:1"><p>VND {{item.product.price|floatformat:3}}</p></div>
          <div style="flex:1"><p>x{{item.qty}}</p></div>
        </div>
        {% endfor %}
        <h5>Items:   </h5>
        <h5>Total:   VND {{cart.get_total|floatformat:3}}</h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}