{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div
      class="mb-3"
      style="
        font-size: 15px;
        text-align: left;
    
        margin-top: 30px;
      "
    >

      <h1 style="font-size: 20px"><br>CÁM ƠN BẠN ĐÃ ĐẶT HÀNG</h1>
      </div>
      
    </div>
    
    <div class="col-lg-6">
      <div class="box-element">
        <br>
        <h3>Order Summary</h3>
        <hr>
        {% for item in cart %}
        <div class="cart-row">
          <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
          <div style="flex:2"><p>{{item.product.name}}</p></div>
          <div style="flex:1"><p>VND {{item.product.price|floatformat:3}}</p></div>
          <div style="flex:1"><p>x{{item.qty}}</p></div>
        </div>
        {% endfor %}
        <h5>Items:   </h5>
        <h5>Total:   VND {{cart.get_total|floatformat:3}}</h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}