{% extends "base.html" %} 
{% load static %} 
{% block content %}

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #fff1ea;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

p{
    color:black
}

</style>
<div class="about-section">
    <img src="{% static 'image/cover2.jpg'%}" >
    <h1 class="display-2"></h1>
    <p>Bathbomb, Xà bông, Muối tắm</p>
    <p>Chiết xuất thảo dược thiên nhiên, thân thiện với môi trường</p>
    <p >Mời bạn ghé thăm thêm Cửa hàng của chúng tôi tại:</p>
      <a href="https://www.facebook.com/lago.bathhome" target="_blank" style="padding-right: 10px;"><img src="{% static 'image/facebook.png' %}" alt="" style="width: 20%;"></a>
      <a href="https://www.instagram.com/lago.bathhome/" target="_blank"><img src="{% static 'image/instagram.png' %}" alt="" style="width: 20%;"></a>
      <a href="https://shopee.vn/lago_bathstuff" target="_blank"><img src="{% static 'image/shopee.png' %}" alt="" style="width: 23%;"></a>
      
      
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="320" height="560" src="https://www.youtube.com/embed/vtt216I3zkY" title="Hướng dẫn sử dụng Bubble Bath Bomb - Lá Gỗ Home" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </div>
  
  


{% endblock %}